<form role="form">
  <div id="main-panel" class="view-panel">
    <div class="form-group">
      <h3>Hi <%= @name %>!</h3>
    </div>
    <div id="error-message" class="form-group" style="display:none;">
      <div class="alert alert-warning"></div>
    </div>
    <div class="form-group">
      <label for="inputTweet">Tweet:</label>
      <input type="text" class="form-control" id="inputTweet" placeholder="Enter your tweet" maxlength="140">
    </div>
    <div class="form-group">
      <label for="tweetLink">If you would like to include a link, paste it here:</label>
      <input type="text" class="form-control" id="tweetLink" placeholder="Shortlinks preferred">
    </div>
    <div class="form-group">
      <label for="handleList">List of Twitter Handles: (one per line)</label>
      <textarea class="form-control" id="handleList" rows="10"></textarea>
    </div>
    <div class="form-group text-center">
      <a class="btn btn-info btn-lg" href="/logout">Logout</a>
      <input class="btn btn-default btn-lg" type="submit" value="Create Tweets!">
    </div>
  </div>
  <div id="confirmation-panel" class="view-panel" style="display:none;">
    <ul id="tweet-previews">
    </ul>
    <div class="form-group text-center">
      <a class="btn btn-info btn-lg reset" href="#">Reset</a>
      <input class="btn btn-default btn-lg" type="submit" value="Send Tweets!">
    </div>
  </div>
  <div id="sending-panel" class="view-panel" style="display:none;">
  </div>
</form>